In [20]:
from bs4 import BeautifulSoup
        #BeautifulSoup: paquetería de Python que permite leer la estructura HTML para poder ser escrapeada por Python
import urllib3
import pandas as pd
import re

In [98]:
url_to_scrape='http://www.economia-sniim.gob.mx/2010prueba/PreciosHoy.asp?Cons=D&prodC=19605&dest=160&Formato=Xls&submit=Ver+Resultados'
        #Dirección url de la página que realizará la consulta
print(url_to_scrape)

http://www.economia-sniim.gob.mx/2010prueba/PreciosHoy.asp?Cons=D&prodC=19605&dest=160&Formato=Xls&submit=Ver+Resultados

In [99]:
http = urllib3.PoolManager()

response = http.request('GET', url_to_scrape)

soup = BeautifulSoup(response.data, "lxml")
table=soup.findAll("table")
error=-5

In [100]:
for i in range(1,len(table)):
        try:
            if table[i]['id'] =='error':
                error=i
        except Exception as e:
            pass
                #print table[i]['id']

In [101]:

if error!=-5:
    if table[error].findAll('td')[0].text==u'\nNo encontr\xf3 informaci\xf3n para los datos indicados\n':
        print (u'\nNo encontr\xf3 informaci\xf3n para los datos indicados\n')
else:
    for i in range(1,len(table)):
        try:
            if table[i]['id'] =='Datos'and pd.read_html(str(table[i]))[0][0][2]== 'Mercados Nacionales:':
                indice=i
        except Exception as e:
            pass

In [102]:
df=pd.read_html(str(table[indice]))[0]
df.columns = ['origen', 'presentacion', 'pmin', 'pmax', 'pfrec', 'observaciones'] 
df["fecha"] =df["origen"][3]
df1 = df.iloc[6:] 
df1=df1.dropna(thresh=5)
df1.reset_index(drop=True, inplace=True)  

df1

,origen,presentacion,pmin,pmax,pfrec,observaciones,fecha
0,Michoacán,Kilogramo,4.00,5.00,5.00,NaN,Miércoles 1/Ago/2018
1,NaN,Kilogramo,4.00,5.00,5.00,Miércoles: 25/07/2018 Ver Nota,Miércoles 1/Ago/2018
2,Sinaloa,Kilogramo,4.00,5.50,5.50,NaN,Miércoles 1/Ago/2018
3,NaN,Kilogramo,4.00,5.50,5.50,Miércoles: 25/07/2018 Ver Nota,Miércoles 1/Ago/2018

In [103]:
for i in range(len(df1)):
    if df1["presentacion"][i]== "Kilogramo":
        df1["presentacion"][i]=1
    else:
        df1["presentacion"][i]=re.findall(r'\d+',df1['presentacion'][i])[0]

df1

,origen,presentacion,pmin,pmax,pfrec,observaciones,fecha
0,Michoacán,1,4.00,5.00,5.00,NaN,Miércoles 1/Ago/2018
1,NaN,1,4.00,5.00,5.00,Miércoles: 25/07/2018 Ver Nota,Miércoles 1/Ago/2018
2,Sinaloa,1,4.00,5.50,5.50,NaN,Miércoles 1/Ago/2018
3,NaN,1,4.00,5.50,5.50,Miércoles: 25/07/2018 Ver Nota,Miércoles 1/Ago/2018

In [104]:
df1["precio_kilo"]=pd.to_numeric(df1["pfrec"])/pd.to_numeric(df1["presentacion"])
df1

,origen,presentacion,pmin,pmax,pfrec,observaciones,fecha,precio_kilo
0,Michoacán,1,4.00,5.00,5.00,NaN,Miércoles 1/Ago/2018,5.0
1,NaN,1,4.00,5.00,5.00,Miércoles: 25/07/2018 Ver Nota,Miércoles 1/Ago/2018,5.0
2,Sinaloa,1,4.00,5.50,5.50,NaN,Miércoles 1/Ago/2018,5.5
3,NaN,1,4.00,5.50,5.50,Miércoles: 25/07/2018 Ver Nota,Miércoles 1/Ago/2018,5.5

In [105]:
df1["precio_kilo"].mean()

5.25

In [52]:
prueba=pd.read_html(str(table[24]))[0]
prueba[0][2]
for (j in range(len(prueba))):
    if prueba[0][j]=="Mercados Nacionales:"

prueba[0][2]

SyntaxError: invalid syntax (<ipython-input-52-3607d37ed5ca>, line 3)

In [85]:
table[20]

<table border="0" cellpadding="0" cellspacing="0">
</table>